html {
    background-color: #000;
    color: #222;
    font-size: 1rem;
    line-height: 1.4;
  
  }
  
  body {
    box-sizing: border-box;
    margin: 0;
  
    overflow-x: hidden;
  
    width: 100vw;
  }