html {
    background-color: #000;
    color: #222;
    font-size: 1rem;
    line-height: 1.4;
  
    scroll-behavior: smooth;
  }
  
  body {
    box-sizing: border-box;
    margin: 0;
    
    overflow-x: hidden;
    
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
  }

  a {
    text-decoration: none;
  }
