.container_header--nav {
  align-items: center;
  display: flex;
  flex-direction: column;

  background-image: url(../../img/header/bg_header.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  width: 100vw;

  margin: 0 2rem;

  .container_imgMenu {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;

    @include widthSize (1024px);

    picture {
      img {
        margin:1rem 2rem;
      }
    }

    .menu_nav {
      align-items: center;
      display: flex;
      justify-content: space-around;

      margin: 0 2rem 0 0 ;

      .menu_nav--button {
        color: $whiteFontColor;
        background: $gradientOrangeBlack;
        box-shadow: $mainBoxShadow;
        border-radius: 0px 0px 30px 30px;
        border: none;

        @include heigthSize (70px);
        @include widthSize (250px);

        text-align: center;
        text-decoration: none;

        font-weight: $regularFont;

        margin: 0 0 0 2rem;

        transition: $mainTransitionTime;

        cursor: pointer;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .container_titleAndImg {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 3.5rem 0 2rem 0;

    @include widthSize (1024px);

    .titles_header {
      align-items: flex-end;

      h1,
      h2,
      li {
        @include fontSize($titleFontSize);

        color: $whiteFontColor;

        font-weight: $boldFont;
        margin: 0;
        text-align: right;
        line-height: 100px;
      }

      .content_animation {
        align-items: center;
        display: flex;
        justify-content: center;
        overflow: hidden;
        @include heigthSize (100px);

        .content_animation-list {
          margin: 0;

          list-style: none;

          animation-name: change;
          animation-duration: 6s;
          animation-iteration-count: infinite;

          &-item {
            padding: 1rem;
          }

          @keyframes change {

            0%,
            100% {
              transform: translate3d(0, -33%, 0);
            }

            33% {
              transform: translate3d(0, 0%, 0);
            }

            66% {
              transform: translate3d(0, 33%, 0);
            }
          }
        }
      }
    }

    img {
      display: block;
    }
  }

  .container_cardsHeader {
    align-items: center;
    display: flex;
    justify-content: center;

    @include widthSize (1024px);

    .cardHeader {
      align-items: center;
      display: flex;
      justify-content: center;
      background: $orangeTransparenci;
      box-shadow: $mainBoxShadow;
      border-radius: 10px;

      padding: 4rem 0;

      text-align: center;
      transition: $mainTransitionTime;

      @include widthSize (250px);
      @include heigthSize (100px);

      margin: 5%;

      img {
        display: block;
      }

      h2 {
        display: none;
        color: $whiteFontColor;
        font-size: $highlightTitleFontSize;
      }

      &:hover {
        background-color: $mainColor;
        transform: scale(1.05);

        img {
          display: none;
        }

        h2 {
          display: block;
        }
      }
    }
  }
}
