.container_header--nav {
  background-image: url(../../img/header/bg_header.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .container_imgMenu {
    align-items: flex-end;
    display: flex;
    justify-content: space-around;
    margin: 0 5%;

    .menu_nav {
      align-items: center;
      display: flex;
      justify-content: space-around;

      .menu_nav--button {
        color: #fff;
        background: linear-gradient(180deg, #000000 0%, rgba(238, 89, 35, 0.72) 98.44%);
        box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.8);
        border-radius: 0px 0px 30px 30px;
        border: none;

        height: 70px;
        width: 250px;

        text-align: center;
        text-decoration: none;

        font-weight: 400;

        margin: 0 1rem;

        transition: all 250ms ease-in-out;

        cursor: pointer;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  .container_titleAndImg {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 3.5rem auto 2rem auto;

    .titles_header {
      align-items: flex-end;
      color: #fff;

      h2 {
        font-weight: bold;
        font-size: 10rem;
        margin: 0;
        text-align: right;
        line-height: 160px;
      }

      .content_animation {
        align-items: center;
        display: flex;
        overflow: hidden;
        height: 12rem;

        .content_animation-list {
          font-weight: bold;
          font-size: 10rem;
          margin: 0;
          text-align: right;
          line-height: 160px;

          list-style: none;

          animation-name: change;
          animation-duration: 6s;
          animation-iteration-count: infinite;

          &-item {
            padding: 1rem;
          }

          @keyframes change {

            0% , 100% {
              transform: translate3d(0, -33%, 0);
            }

            33% {
              transform: translate3d(0, 0%, 0);
            }

            66% {
              transform: translate3d(0, 33%, 0);
            }
          }
        }
      }
    }

    img {
      display: block;
    }
  }

  .container_cardsHeader {
    align-items: center;
    display: flex;
    justify-content: center;

    .cardHeader {
      align-items: center;
      display: flex;
      justify-content: center;
      background: rgba(238, 89, 35, 0.3);
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
      border-radius: 10px;

      color: #fff;

      padding: 4rem 0;

      text-align: center;
      transition: all 250ms ease-in-out;

      width: 250px;
      height: 100px;

      margin: 5%;

      img {
        display: block;
      }

      h2 {
        display: none;
      }

      &:hover {
        background-color: #ee5923;
        transform: scale(1.05);

        img {
          display: none;
        }

        h2 {
          display: block;
        }
      }
    }
  }
}
