.container_main-smartPage {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-image: url(../../../img/containerMain/smartPages/bgDois.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 100vw;

  .content_shadowTransition-top {
    background: $gradientTransition;
    transform: matrix(1, 0, 0, -1, 0, 0);
    
    @include heigthSize (90px);
    @include widthSize (1024px);

    margin: 0;
    padding: 0;
  }

  .content_shadowTransition-bottom {
    background: $gradientTransition;
    transform: matrix(1, 0, 0, -1, 0, 0);
    @include heigthSize (90px);
    @include widthSize (1024px);

    transform: rotate(1turn);

    margin: 0;
    padding: 0;
  }

  h2 {
    color: $whiteFontColor;
    @include fontSize ($subTitleFontSize);

    margin: 1rem;
  }

  .container_smartPage-cards {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @include widthSize (1024px);


    .content_smartPage-cards {
      align-items: center;
      display: flex;
      flex-direction: column;

      background-color: $whiteColor;

      border-radius: 25px;

      margin: 2rem;

      @include widthSize (280px);

      .smartPage_cards-images {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @include heigthSize (280px);
        @include widthSize (280px);
      
      }

      .smartPage_cards-imageOne {
        background-image: url(../../../img/containerMain/smartPages/capaLider.png);
      }

      .smartPage_cards-imageTwo {
        background-image: url(../../../img/containerMain/smartPages/capaUnicred.png);
      }

      .smartPage_cards-imageTree {
        background-image: url(../../../img/containerMain/smartPages/capaAilos.png);
      }

      .smartPage_cards-text {
        margin: 0 1rem 1rem 1rem;

        h4 {
          font-style: normal;
          font-weight: $boldFont;
          @include fontSize ($titleCardsFontSize);
          line-height: 23px;

          color: $orangeFontColor;
        }

        p {
          font-style: normal;
          font-weight: $regularFont;
          @include fontSize ($paragraphCardsFontSize);
          line-height: 16px;

          color: $orangeFontColor;
        }

        .smartPage_cards-button {
          background: $gradientOrangePurple;
          border-radius: 15px;

          color: #FFFFFF;

          line-height: 18px;
          font-style: normal;
          font-size: 16px;
          font-weight: 700;

          text-align: center;

          border: none;

          padding: 0.5rem 2rem;

          transition: all 250ms ease-in-out;

          cursor: pointer;

          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
  }
}
