.container_main-storyline {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  transition: $mainTransitionTime;

  h3 {
    color: $whiteFontColor;
    @include fontSize ($subTitleFontSize);

    margin: 1rem;
  }

  p {
    text-align: center;
    color: $whiteFontColor;
    
    width: 80%;
  }

  .container_storyline-cards {
    align-items: center;
    display: flex;
    justify-content: center;

    transition: $mainTransitionTime;

    @include widthSize (1024px);

    .container_storyline-animate {
      display: flex;
    }

    .container_storyline-card {
      align-items: center;
      display: flex;
      justify-content: center;

      margin: 2rem;

      transition: $mainTransitionTime;

      .storyline_backgroundImage-one {
        background-image: url(../../img/containerMain/stoyline/imgFrente.png);
      }

      .storyline_backgroundImage-two {
        background-image: url(../../img/containerMain/stoyline/imgFrente2.png);
      }

      .storyline_backgroundImage-tree {
        background-image: url(../../img/containerMain/stoyline/imgFrente3.png);
      }

      .content_storyline-card {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        transition: $mainTransitionTime;


        padding: 2rem;



        @include heigthSize (270px);
        @include widthSize (200px);

        .storyline_cards-texts {
          align-items: flex-start;
          display: flex;
          flex-direction: column;

          opacity: 0;

          margin: 0 0 2rem 0;

          h2 {
            font-style: normal;
            font-weight: $boldFont;
            @include fontSize ($titleCardsFontSize);
            line-height: 23px;

            color: $whiteFontColor;

            margin: 0;
          }
        }

        .storyline_cards-buttons {
          align-items: center;
          display: flex;

          opacity: 0;

          .cards_button {
            background-color: $whiteColor;

            color: $orangeFontColor;

            font-size: $smallButtonFontSize;
            font-weight: $boldFont;

            border: none;
            border-radius: 25px;

            cursor: pointer;

            transition: $mainTransitionTime;

            &:hover {
              color: $gradientOrangePurple;
              transform: scale(1.1);
            }
          }

          .button-trailer {
            padding: 0.5rem 2rem;
            margin-right: 0.5rem;
          }

          .button-testing {
            padding: 0.5rem 3rem;
          }
        }
      }

      &:hover {
        .content_storyline-card {
          border-radius: 25px;
          @include widthSize (280px);

          .storyline_cards-texts {
            opacity: 1;
          }

          .storyline_cards-buttons {
            opacity: 1;
          }
        }

        .storyline_backgroundImage-one {
          background-image: url(../../img/containerMain/stoyline/imgVerso.png);
        }

        .storyline_backgroundImage-two {
          background-image: url(../../img/containerMain/stoyline/imgVerso2.png);
        }

        .storyline_backgroundImage-tree {
          background-image: url(../../img/containerMain/stoyline/imgVerso3.png);
        }

      }
    }
  }
}

@media (max-width:768px) {

  .container_main-storyline {
    h3 {
      @include fontSize (48px);
    }

    .container_storyline-cards {
      height: 600px;
      width: 400px;

      overflow: hidden;

      .container_storyline-animate {
        animation-duration: 15s;
        animation-name: sliderAnimateStoyline;
        animation-iteration-count: infinite;

        @keyframes sliderAnimateStoyline {

          0%,
          100% {
            transform: translateX(35%);
          }

          33% {
            transform: translateX(0);
          }

          66% {
            transform: translateX(-35%);
          }
        }
      }
    }
  }
}

@media (max-width:425px) {
  .container_main-storyline {
    h3 {
      @include fontSize (36px);
    }
    .container_storyline-cards{

      .container_storyline-animate {
        animation-duration: 50s;
      }
    }
  }
}

@media (max-width:375px) {
  .container_main-storyline {

    @include widthSize (375px);

    .container_storyline-cards {
      width: 300px;
    }
  }
}

@media (max-width:320px) {
  .container_main-storyline {

    h3 {
      @include fontSize (28px);
    }

    @include widthSize (320px);

  }
}
