.container_main-storyline {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  transition: $mainTransitionTime;

  h2 {
    color: $whiteFontColor;
    @include fontSize ($subTitleFontSize);

    margin: 1rem;
  }

  .container_storyline-cards {
    align-items: center;
    display: flex;
    justify-content: center;

    transition: $mainTransitionTime;

    @include widthSize (1024px);

    .container_storyline-card {
      align-items: center;
      display: flex;
      justify-content: center;

      margin: 2rem;

      transition: $mainTransitionTime;

      .storyline_backgroundImage-one {
        background-image: url(../../../img/containerMain/stoyline/imgFrente.png);
      }

      .storyline_backgroundImage-two {
        background-image: url(../../../img/containerMain/stoyline/imgFrente.png);
      }

      .storyline_backgroundImage-tree {
        background-image: url(../../../img/containerMain/stoyline/imgFrente.png);
      }

      .content_storyline-card {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        transition: $mainTransitionTime;


        padding: 2rem;



        @include heigthSize (270px);
        @include widthSize (200px);

        .storyline_cards-texts {
          align-items: flex-start;
          display: flex;
          flex-direction: column;

          opacity: 0;

          h2 {
            font-style: normal;
            font-weight: $boldFont;
            @include fontSize ($titleCardsFontSize);
            line-height: 23px;

            color: $whiteFontColor;

            margin: 0;
          }

          p {
            font-style: normal;
            font-weight: $regularFont;
            @include fontSize ($paragraphCardsFontSize);
            line-height: 16px;

            color: $whiteFontColor;
          }
        }

        .storyline_cards-buttons {
          align-items: center;
          display: flex;

          opacity: 0;

          .cards_button {
            background-color: $whiteColor;

            color: $orangeFontColor;

            font-size: $smallButtonFontSize;
            font-weight: $boldFont;

            border: none;
            border-radius: 25px;

            cursor: pointer;

            transition: $mainTransitionTime;

            &:hover {
              color: $gradientOrangePurple;
              transform: scale(1.1);
            }
          }

          .button-trailer {
            padding: 0.5rem 2rem;
            margin-right: 0.5rem;
          }

          .button-testing {
            padding: 0.5rem 3rem;
          }
        }
      }

      &:hover {
        .content_storyline-card {
          border-radius: 25px;
          @include widthSize (280px);

          .storyline_cards-texts {
            opacity: 1;
          }

          .storyline_cards-buttons {
            opacity: 1;
          }
        }

        .storyline_backgroundImage-one {
          background-image: url(../../../img/containerMain/stoyline/imgVerso.png);
        }

        .storyline_backgroundImage-two {
          background-image: url(../../../img/containerMain/stoyline/imgVerso.png);
        }

        .storyline_backgroundImage-tree {
          background-image: url(../../../img/containerMain/stoyline/imgVerso.png);
        }

      }
    }
  }
}
