// Font sizes

$titleFontSize : 120px;
$subTitleFontSize: 80px; 
$highlightTitleFontSize: 48px;
$paragraphFontSize: 16px;

$bigButtonFontSize: 36px;
$mediumButtonFontSize: 24px;
$smallButtonFontSize: 16px;
// Font-weight

$regularFont : 300;
$mediumFont : 500;
$boldFont : 700;

// Colors

$mainColor: #ee5923;
$secondaryColor: #8C237B;
$blackColor: #000;
$whiteColor: #fff;

$blackFontColor: #272727;
$whiteFontColor: #fff;
$orangeFontColor: #ee5923;

$gradientOrangeBlack: linear-gradient(180deg, #000000 0%, rgba(238, 89, 35, 0.72) 98.44%);
$gradientOrangePurple: linear-gradient(93.59deg, #EE5923 5.96%, #8C237B 93.57%);
$gradientTransition: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);

$orangeTransparenci: rgba(238, 89, 35, 0.3);

// Box shadows

$mainBoxShadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
$videoBoxShadow: 5px 10px 20px rgba(0, 0, 0, 0.8);

// Transition

$mainTransitionTime: all 250ms ease-in-out;
