.container_main-cursosPrateleira {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 2rem 0;

  h2 {
    color: $whiteFontColor;
    @include fontSize ($subTitleFontSize);

    margin: 0;
  }

  .container_cursosPrateleira-cards {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .background_image-one {
      background-image: url(../../../img/containerMain/cursosPrateleira/CardCursoPrateleira.png);
    }

    .background_image-two {
      background-image: url(../../../img/containerMain/cursosPrateleira/CardCursoPrateleira-1.png);
    }

    .background_image-tree {
      background-image: url(../../../img/containerMain/cursosPrateleira/CardCursoPrateleira-2.png);
    }

    .container_cursosPrateleira-animate {
      display: flex;
      flex-direction: row;
    }

    .content_cursosPrateleira-cards {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      @include heigthSize (520px);
      @include widthSize (280px);

      margin: 2rem;

      transition: $mainTransitionTime;

      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

      .cursosPrateleira_cards-text {
        visibility: hidden;
        opacity: 0;

        position: relative;
        top: 2rem;

        background-color: $whiteColor;
        border-radius: 25px;

        text-align: center;

        @include widthSize (280px);

        transition: $mainTransitionTime;



        h4 {
          font-weight: $boldFont;
          @include fontSize ($titleCardsFontSize);
          line-height: 18px;
          text-align: center;

          color: $blackFontColor;
        }

        p {
          font-style: normal;
          font-weight: $regularFont;
          @include fontSize ($paragraphCardsFontSize);
          line-height: 16px;

          color: $blackFontColor;

          margin: 1rem;
        }
      }

      &:hover {

        transform: scale(1.02);

        .cursosPrateleira_cards-text {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

@media (max-width:768px) {
  .container_main-cursosPrateleira {

    margin: 1rem 0;

    h2 {
      @include fontSize (48px);
    }

    .container_cursosPrateleira-cards {
      height: 600px;
      width: 400px;

      overflow: hidden;

      .container_cursosPrateleira-animate {
        animation-duration: 15s;
        animation-name: sliderAnimate;
        animation-iteration-count: infinite;

        @keyframes sliderAnimate {

          0%,
          100% {
            transform: translateX(33%);
          }

          33% {
            transform: translateX(0%);
          }

          66% {
            transform: translateX(-33%);
          }
        }
      }
    }
  }
}
