.container_main-cursosPrateleira {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;


  h2 {
      color: $whiteFontColor;
      @include fontSize ($subTitleFontSize);

      margin: 0;
  }

  .container_cursosPrateleira-cards {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    @include widthSize (1024px);


    .background_image-one {
      background-image: url(../../../img/containerMain/cursosPrateleira/CardCursoPrateleira.png);
    }

    .background_image-two {
      background-image: url(../../../img/containerMain/cursosPrateleira/CardCursoPrateleira-1.png);
    }

    .background_image-tree {
      background-image: url(../../../img/containerMain/cursosPrateleira/CardCursoPrateleira-2.png);
    }

    .content_cursosPrateleira-cards {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      @include heigthSize (520px);
      @include widthSize (320px);

      margin: 2rem;

      transition: $mainTransitionTime;

      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

      .cursosPrateleira_cards-text {
        display: none;

        position: relative;
        top: 2rem;

        background-color: $whiteColor;
        border-radius: 25px;

        text-align: center;

        @include widthSize (280px);

        transition: $mainTransitionTime;

        

        h4 {
          font-weight: $boldFont;
          @include fontSize ($titleCardsFontSize);
          line-height: 18px;
          text-align: center;

          color: $blackFontColor;
        }

        p {
          font-style: normal;
          font-weight: $regularFont;
          @include fontSize ($paragraphCardsFontSize);
          line-height: 16px;
          
          color: $blackFontColor;

          margin: 1rem;
        }
      }
      &:hover {
        .cursosPrateleira_cards-text {
            display: block;
        }
      }
    }
  }
}
