.container_main-cursosPrateleira {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  h2 {
      color: #fff;
      font-size: 60px;

      margin: 0;
  }

  .container_cursosPrateleira-cards {
    align-items: center;
    display: flex;
    flex-direction: row;


    .background_image-one {
      background-image: url(../../../img/containerMain/cursosPrateleira/CardCursoPrateleira.png);
    }

    .background_image-two {
      background-image: url(../../../img/containerMain/cursosPrateleira/CardCursoPrateleira-1.png);
    }

    .background_image-tree {
      background-image: url(../../../img/containerMain/cursosPrateleira/CardCursoPrateleira-2.png);
    }

    .content_cursosPrateleira-cards {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      height: 520px;
      width: 320px;

      margin: 2rem;

      transition: all 250ms ease-in-out;

      .cursosPrateleira_cards-text {
        display: none;

        position: relative;
        top: 2rem;

        background-color: #fff;
        border-radius: 25px;

        text-align: center;

        width: 280px;

        transition: all 250ms ease-in-out;

        h4 {
          font-weight: 700;
          font-size: 16px;
          line-height: 18px;
          text-align: center;

          color: #000000;
        }

        p {
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 16px;

          color: #000000;

          margin: 0.5rem;
        }
      }
      &:hover {
        .cursosPrateleira_cards-text {
            display: block;
        }
      }
    }
  }
}
