.container_main-videosAnimation {
  align-items: center;
  display: flex;
  flex-direction: column;

  background: linear-gradient(180deg, #420E78 0%, rgba(0, 0, 0, 0) 100%);

  h3 {
    color: $whiteFontColor;
    @include fontSize ($subTitleFontSize);
    margin: 1rem 0;
  }

  p {
    text-align: center;
    color: $whiteFontColor;

    width: 80%;
  }

  .container_videosAnimation-grid {

    display: grid;

    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);

    column-gap: 20px;
    row-gap: 10px;

    .videosAnimation-videoOne {
      grid-column: span 1;

      video {
        border-radius: 25px;
        width: 300px;
      }
    }

    .videosAnimation-videoTwo {
      grid-column: span 1;

      video {
        border-radius: 25px;
        width: 300px;
      }
    }

    .videosAnimation-videoTree {
      grid-column: span 1;

      video {
        border-radius: 25px;
        width: 300px;
      }
    }

  }
}

@media (max-width:768px) {
  .container_main-videosAnimation {

    h3 {

      @include fontSize (48px);

    }

    .container_videosAnimation-grid {

      grid-template-columns: repeat(2, auto);

      .videosAnimation-videoTree {
        display: none;
      }

      .videosAnimation-videoFour {
        grid-column: span 1;

        video {
          width: 300px;
        }
      }
    }
  }
}

@media (max-width:425px) {
  .container_main-videosAnimation {
    h3 {
      @include fontSize (36px);
    }
    .container_videosAnimation-grid {

      grid-template-columns: repeat(1, auto);
      
    }
  }
}

@media (max-width:375px) {

  .container_main-videosAnimation {

    @include widthSize (375px);

  }
}

@media (max-width:320px) {

  .container_main-videosAnimation {

    h3 {
      @include fontSize (28px);
    }

    @include widthSize (320px);

  }
}