.container_main-videosAnimation {
  align-items: center;
  display: flex;
  flex-direction: column;

  background: linear-gradient(180deg, #420E78 0%, rgba(0, 0, 0, 0) 100%);


  h2 {
    color: $whiteFontColor;
    @include fontSize ($subTitleFontSize);
    margin: 1rem 0;
  }

  .container_videosAnimation-grid {
    align-items: center;
    justify-content: center;

    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    gap: 1rem;

    .videosAnimation-videoOne {
      grid-column: span 1;
      grid-row: span 1;

      overflow: hidden;

      box-shadow: $videoBoxShadow;
      border-radius: 1rem;

      height: 180px;
      width: 400px;
    }

    .videosAnimation-videoTwo {
      grid-column: span 1;
      grid-row: span 1;

      overflow: hidden;

      box-shadow: $videoBoxShadow;
      border-radius: 1rem;

      height: 180px;
      width: 400px;
    }

    .videosAnimation-videoTree {
      grid-column: span 1;
      grid-row: span 2;

      overflow: hidden;

      box-shadow: $videoBoxShadow;
      border-radius: 1rem;

      height: 400px;
      width: 400px;
    }

    .videosAnimation-videoFour {
      grid-column: span 2;
      grid-row: span 1;

      overflow: hidden;

      box-shadow: $videoBoxShadow;
      border-radius: 1rem;

      height: 180px;
      width: 800px;
    }
  }
}

@media (max-width:768px) {
  .container_main-videosAnimation {
    h2 {
      @include fontSize (48px);
    }

    .container_videosAnimation-grid {
      grid-template-columns: repeat(2, 200px);
      grid-template-rows: repeat(2, 200px);

      .videosAnimation-videoOne {
        height: 200px;
        width: 200px;
      }

      .videosAnimation-videoTwo {
        height: 200px;
        width: 200px;
      }

      .videosAnimation-videoTre {
        height: 200px;
        width: 200px;
      }

      .videosAnimation-videoFour {
        height: 200px;
        width: 200px;
      }
    }
  }
}
