@import '../base/_fonts/fonts';
@import '../base/_general/general';
@import '../base/_mixin/mixin';
@import '../base/_vars/vars';

@import '../header/header';
@import '../header/videoApresentacao/videoApresentacao';

@import '../containerMain/cursosPrateleira/cursosPrateleira';
@import '../containerMain/smartPages/smartPages';
@import '../containerMain/storyline/storyline';
@import '../containerMain/videosExample/videosExample';
@import '../containerMain/videosAnimation/videosAnimation';

@import'../footer/footer';

.content_shadowTransition-top {
  background: $gradientTransition;
  transform: matrix(1, 0, 0, -1, 0, 0);

  @include heigthSize (90px);
  width: 100vw;

  margin: 0;
  padding: 0;
}

.content_shadowTransition-bottom {
  background: $gradientTransition;
  transform: matrix(1, 0, 0, -1, 0, 0);

  @include heigthSize (90px);
  width: 100vw;

  transform: rotate(1turn);

  margin: 0;
  padding: 0;
}
