.container_main-videoPresentation {
  background-image: url(../../../img/header/videoApresentacao/Vector.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  align-items: center;
  display: flex;
  justify-content: center;

  @include widthSize (1024px);

  margin: 2rem 0;

  .container_videoPresentation-description {
    align-items: flex-start;
    display: flex;
    flex-direction: column;

    width: 50%;

    margin: 1rem 1rem 1rem 2rem;

    .content_description-title {
      color: $whiteFontColor;
      @include fontSize($highlightTitleFontSize);
      margin: 0;
    }

    .content_description-text {
      color: $whiteFontColor;
      @include fontSize($paragraphFontSize);
    }

    .content_description-button {
      background-color: $whiteColor;
      border: none;
      border-radius: 30px;

      color: $orangeFontColor;

      line-height: 28px;
      @include fontSize($mediumButtonFontSize);
      font-weight: $boldFont;

      padding: 0.8rem 6rem;

      transition: $mainTransitionTime;

      &:hover {
        transform: scale(1.1);
      }
    } 
  }

  .container_videoPresentation-video {
    align-items: center;
    display: flex;
    justify-content: center;

    width: 50%;

    margin: 1rem 2rem 1rem 1rem;

    .content_video-iframe {
      border-radius: 25px;

      @include heigthSize (250px);
      @include widthSize (450px);

      z-index: 2;

      iframe {
        border-radius: 25px 0px 0px 25px;
        box-shadow: $videoBoxShadow;
        height: 100%;
        width: 100%;
      }
    }

    .container_video-list {
      background: $secondaryColor;
      box-shadow: $mainBoxShadow;
      border-radius: 0px 50px 50px 0px;
      z-index: 1;

      .content_video-list {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        list-style: none;
        margin: 0;
        padding: 1.5rem 0.5rem;

        @include heigthSize (200px);

        li {
          color: #fff;
          line-height: 10px;
          @include fontSize(16px);
          font-weight: $boldFont;

          text-align: center;

          padding: 0.75rem 0.5rem;
        }
      }
    }

  }


}
